.Blog_Page {
    font-family: "Inter", Sans-serif;

    .Blog {
        min-height: 500px;
        width: 100%;

        .Hero_Blog {
            background-image: url('../../../public/Doctors/Doctors_Hero.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 23vw;
            // margin-top: 115px;
            position: relative;
            padding-top: 100px;

            >div {
                position: absolute;
                top: 25%;
                left: 10%;

                h1 {
                    font-size: 4vw;
                    font-weight: bold;
                }

                >div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    h5 {
                        color: var(--primary);
                        font-size: 1.5vw;
                    }

                    h6,
                    h4 {
                        font-size: 1.5vw;

                    }

                    h4 {
                        color: var(--secondary);
                    }
                }
            }
        }

        .Blog_body {
            display: flex;
            padding-inline: 5vw;
            width: 100%;
            margin-block: 50px;
            height: 100%;
                gap: 10px;
            position: relative;

            .Blog_body_Left {
                background-color: var(--bg);
                @include Shadow;
                width: 70%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;


                .First {
                    >h5 {
                        font-size: 1vw;
                        color: var(--secondary);
                    }

                    >h1 {
                        font-size: 2vw;
                        font-weight: bold;

                    }

                    >h6 {
                        font-size: 1.2vw;
                        margin-bottom: 40px;
                        color: var(--subtext);

                        svg {
                            color: var(--secondary);
                        }
                    }

                    >img {
                        width: 100%;
                        height: 500px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size: 1vw;
                    }
                }

                .Second {
                    margin-block: 30px;
                    display: flex;
                    gap: 20px;

                    >img {
                        width: 40%;
                    }

                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        >h1 {
                            font-size: 1.5vw;
                            font-weight: bold;
                        }

                        >p {
                            font-size: 1vw;
                        }

                        >div {
                            display: flex;
                            gap: 10px;

                            >div {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                >span {
                                    display: flex;
                                    align-items: flex-start;
                                    gap: 5px;

                                    svg {
                                        height: 20px;
                                        font-size: 20px;
                                        padding: 3px;
                                        border-radius: 50%;
                                        color: var(--white);
                                        background: var(--secondary);
                                    }

                                    h6 {
                                        font-size: 1vw;
                                        height: 20px;

                                    }
                                }

                            }
                        }
                    }
                }

                .Third {
                        >div{
                            position: relative;
                            background: #f9f9fc;
                            border-radius: 20px;
                            border-left: 10px solid var(--primary) !important;
                            padding: 40px;
                            margin-block: 30px;
                            >img{
                                width: 30px;
                                position: absolute;
                                bottom: 10px;
                                right: 20px;
                            }
                        }
                        p{
                            font-size: 1.2vw;

                        }
                        
                      
                    
                }
                .Four{
                    p{
                        font-size: 1.2vw;

                    }
                    h1{
                        font-size: 2vw;
                    }

                }
                .Fith{
                    width: 100%;
                    >span{
                        display: flex;
                        align-items: center;
                        gap: 35px;
                        >div{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px;
                            
                            >span{
                                display: inline-block !important;
                                transition: all ease 500ms;
                                background: #f9f9fc;
                                color: #77817d;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                                padding: 10px 20px;
                                border-radius: 10px;
                                -webkit-border-radius: 10px;
                                transition: .3s ease-in-out;


                                &:hover{
                                    scale: 1.1;
                                    background: var(--primary);
                                    color: var(--white);
                                    transition: .3s ease-in-out;
                                    cursor: pointer;
                                }
                            }
                        }

                    }
                    .User{
                        display: flex;
                        
                        align-items: center;
                        gap: 20px;
                        img{
                            width: 50px;
                            border-radius: 50%;
                        }

                    }
                }

            }

            .Blog_body_Right {

                background-color: var(--bg);
                @include Shadow;
                width: 28%;
                padding: 30px 30px;
                height: fit-content;
                position: sticky;
                right: 10px;
                top: 75px;

                >h1 {
                    font-size: 1.4vw;
                    font-weight: bold;
                    margin-bottom: 15px;


                }

                >span {
                    margin-bottom: 15px;
                }

                button {
                    margin-top: 10px;
                    font-weight: bold;
                    transition: .3s ease-in-out;
                    &:hover{
                        scale: 1.1;
                        background: var(--secondary) !important;
                        color: var(--white);
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }


            }
        }


    }

}



@media screen and (max-width: 900px) {
    .Blog_Page {
        .Blog {
            padding-top: 70px;

            .Hero_Blog {
                background-image: url('../../../public/Doctors/Doctors_Hero.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100vw;
                height: 20vw;
                // margin-top: 115px;
                position: relative;

                // margin-top:50px;
                >div {
                    position: absolute;
                    top: 25%;
                    left: 10%;

                    h1 {
                        font-size: 4vw;
                        font-weight: bold;
                    }

                    >div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        h5 {
                            color: var(--primary);
                            font-size: 1.5vw;
                        }

                        h6,
                        h4 {
                            font-size: 1.5vw;

                        }

                        h4 {
                            color: var(--secondary);
                        }
                    }
                }
            }

            .Blog_body {
                display: flex;
                padding-inline: 5vw;
                width: 100% !important;
                margin-block: 50px;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                .Blog_body_Left {
                    background-color: var(--bg);
                    @include Shadow;
                    min-width: 100%;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;



                    .First {
                        >h1 {
                            font-size: 4vw;
                            font-weight: bold;

                        }

                        h5{
                            font-size: 3vw;
                        }
                        >h6 {
                            font-size: 3vw;
                            margin-bottom: 40px;
                            color: var(--subtext);

                            svg {
                                color: var(--secondary);
                            }
                        }

                        >img {
                            width: 100%;
                            height: 500px;
                            margin-bottom: 40px;
                        }

                        p {
                            font-size: 2vw;
                        }
                    }

                    .Second {
                        margin-block: 30px;
                        display: flex;
                        gap: 20px;

                        >img {
                            width: 40%;
                        }

                        >div {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            >h1 {
                                font-size: 2.5vw;
                                font-weight: bold;
                            }

                            >p {
                                font-size: 1.5vw;
                            }

                            >div {
                                display: flex;
                                gap: 10px;

                                >div {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;

                                    >span {
                                        display: flex;
                                        align-items: flex-start;
                                        gap: 5px;

                                        svg {
                                            height: 20px;
                                            font-size: 20px;
                                            padding: 3px;
                                            border-radius: 50%;
                                            color: var(--white);
                                            background: var(--secondary);
                                        }

                                        h6 {
                                            font-size: 1.5vw;
                                            height: 20px;

                                        }
                                    }

                                }
                            }
                        }
                    }
                    
                .Third {
                    >div{
                        position: relative;
                        background: #f9f9fc;
                        border-radius: 20px;
                        border-left: 10px solid #5e5eee !important;
                        padding: 40px;
                        margin-block: 30px;
                        >img{
                            width: 30px;
                            position: absolute;
                            bottom: 10px;
                            right: 20px;
                        }
                    }
                    p{
                        font-size: 1.6vw;

                    }
                    
                  
                
            }
            .Four{
                p{
                    font-size: 1.2vw;

                }
                h1{
                    font-size: 2vw;
                }

            }
            .Fith{
                width: 100%;
                >span{
                    display: flex;
                    align-items: center;
                    gap: 35px;
                    >div{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        
                        >span{
                            display: inline-block !important;
                            transition: all ease 500ms;
                            background: #f9f9fc;
                            color: #77817d;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                            padding: 10px 20px;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                        }
                    }

                }
                .User{
                    display: flex;
                    
                    align-items: center;
                    gap: 20px;
                    img{
                        width: 50px;
                        border-radius: 50%;
                    }

                }
            }

                }

                .Blog_body_Right {

                    background-color: var(--bg);
                    @include Shadow;
                    width: 100%;
                    padding: 50px 30px;
                    height: fit-content;

                    >h1 {
                        font-size: 3.4vw;
                        font-weight: bold;

                    }

                    >span {
                        margin-bottom: 20px;
                    }

                    button {
                        margin-top: 20px;
                        font-weight: bold;
                    }


                }
            }


        }
    }

}